<p id="notice"></p>
<h2>User info</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <%= form_with model: @user, local:true do |f| %>
                            <div class="form-group">
                            
                            <label for="user_name">Name</label>
                            <%= f.text_field :title %>
                            <div class="form-group">
                                <label for="user_image">Image</label>
                            <%= f.file_field :image,accept: "image/*" %>
                            </div>
                            <div class="form-group">
                                <label for="user_introduction">Introduction</label>
                                <%= f.text_area:body %>
                            <div class="form-group">
                                <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
                            </div>
                                
                                <% end %>
                            </div>
                </div>
        </div>
    </div>
</div>