<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <head>
        <title>Bookers2Ver2</title>
        <link rel ="stylesheet"  href="/assets/stylesheets/homes.scss">
        <meta name="csrf-param" content="authenticity_token">
        <meta name="csrf-token" content="Nz-KicdvfUFtmGB89eySe9-GFU4o9n1gC8VT9X9atuE1zI4mhw6Pbh3wQcU5oJW5wHqNYDr_U7EM0fYekQufOQ">
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    </head>
<body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <span>Bookers</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a class="nav-link text-light" href="/users/123">
                                <svg class="svg-inline--fa fa-home fa-w-18" aria-hidden="true"
                                focusable="false" data-prefex="fas" data-icon="home" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg></svg>
                                Home
                            </a>
                        </li>
                        
                        <li>
                            <a class="nav-link text-light" href="/users">
                                <svg class="svg-inline--fa fa-users fa-w-20" aria-hidden="true"
                                focusable="false" data-prefex="fas" data-icon="users" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg></svg>
                                Users
                            </a>
                        </li>
                        
                        <li>
                            <a class="nav-link text-light" href="/books">
                                <svg class="svg-inline--fa fa-book-open fa-w-18" aria-hidden="true"
                                focusable="false" data-prefex="fas" data-icon="book-open" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg></svg>
                                Books
                            </a>
                        </li>
                        
                        <li>
                            <a class="nav-link text-light"  rel="nofollow" data-method="delete" href="/users/sign_out">
                                <svg class="svg-inline--fa fa-sign-out-alt fa-w-16" aria-hidden="true"
                                focusable="false" data-prefex="fas" data-icon="sign-out-alt" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg></svg>
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <p id="notice"></p>
        <div class="container px-5 px-sm-0">
            <div class="row">
                <div class="col-md-3">
                    <h2>User info</h2>
                    <img src="">
                    <table class="table">
                        <tbody>
                            <tr></tr>
                            <tr>
                                <th>name</th>
                                <th>masahiro</th>
                            </tr>
                            <tr>
                                <th>introduction</th>
                                <th>masahirodesu</th>
                            </tr>
                        </tbody>
                    </table>
                <div class="row">
                </div>
                </div>
            </div>
        </div>
        
    </main>
</body>
    
    
    
</html>