    <%= flash[:notice] %>
        <p id="notice"></p>
        
        <div class="container">
            <div class="row">
                <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
                    <h1>welcome to<i class="fas fa-book"></i><strong>Bookers</strong>!!</h1>
                    　<p>
                        In<i class="fas fa-book"></i><strong>Bookers,</strong>
                      </p>
                      <p>you can share and exchange your opinions,inpressions,and emotions</p>
                      <p>about various books!</p>
                      <div class="btn-wrapper col-10 mx-auto">
                          <div class="row">
                              <a class="btn btn-success btn-sm btn-block sign_up"
                              href="/users/sign_in">Log in</a>
                          </div>
                          
                          <div class="row">
                              <a class="btn btn-success btn-sm btn-block sign_up"
                              href="users/sign_up">Sign up</a>
                          </div>
                      </div>
                </div>
            </div>
        </div>